.Waters {
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WatersDisplay, .CreateWaterForm, .Water {
    width: 75%;
    margin: 0 auto;
}

.icon {
    position: fixed;
    bottom: 10%;
    right: 10%;
    font-size: 80px;
}