.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DashboardIconDisplay {
    display: flex;
    justify-content: center;
}

.DashboardIcon {
    display: inline-block;
    margin: 20px 5px;
    text-align: center;
}

.DashboardChart {
    width: 75%;
    height: 200px;
}

.WidgetDisplay {
    width: 75%;
    
}

.icon {
    font-size: 40px;
    color: green;
}