h3 {
    font-weight: 300;
}

.Search {
    width: 65%;
    margin: 50px auto;
    text-align: center;
}

.Search:first-child {
    margin: 25px;
}

.Results {
    margin: 0 auto;
    width: 70%;
}

.weatherDisplay {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-top: 15px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background: mediumspringgreen;
}