@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Yellowtail&display=swap");

html, body, #root, #app, #app>div {
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed';
 
}

#map { position: absolute; top: 0; bottom: 0; height: 100px; width: 100%; }

.map-container {
  height: 400px;
}

.popup {
  color: black;
}

.mapboxgl-popup-content {
  margin: 0;
}